{% if recipe.meta.bread %}
<table class="table">
	<tr>
		<th>Masa mąki</th>
		<td>{{ recipe.meta.bread.flour }} g</td>
	</tr>
	<tr>
		<th>Masa płynów</th>
		<td>{{ recipe.meta.bread.liquid }} g</td>
	</tr>
	<tr>
		<th>Hydracja</th>
		<td>{{ (recipe.meta.bread.liquid / recipe.meta.bread.flour * 100) | round }}%</td>
	</tr>
	{% if recipe.meta.bread.yeast %}<tr>
		<th>Drożdże</th>
		<td>{{ recipe.meta.bread.yeast }} g ({{ (recipe.meta.bread.yeast / recipe.meta.bread.flour * 100) | round(1) }}%)</td>
	</tr>{% endif %}
	{% if recipe.meta.bread.inoculation %}<tr>
		<th>Inokulacja</th>
		<td>{{ recipe.meta.bread.inoculation }}%</td>
	</tr>{% endif %}
	<tr>
		<th>Sól</th>
		<td>{{ (recipe.meta.bread.salt / recipe.meta.bread.flour * 100) | round(1) }}%</td>
	</tr>
	{% if recipe.meta.bread.sugar %}<tr>
		<th>Cukry</th>
		<td>{{ (recipe.meta.bread.sugar / recipe.meta.bread.flour * 100) | round(1) }}%</td>
	</tr>{% endif %}
	{% if recipe.meta.bread.fat %}<tr>
		<th>Tłuszcz</th>
		<td>{{ (recipe.meta.bread.fat / recipe.meta.bread.flour * 100) | round(1) }}%</td>
	</tr>{% endif %}
</table>
{% endif %}
