<form class="card mb-4 advanced-search {% if not query.tags.length and not query.ingredients.length %}hidden{% endif%}">
	<div class="card-header">Szukanie zaawansowane</div>

	<div class="card-body">
		<div class="row">
			<div class="form-group col-12">
				<label for="advq">Słowo kluczowe:</label>
				<input id="advq" name="q" type="text" class="form-control" value="{{ query.q | e }}">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div>Tagi:</div>
				<div class="form-group">
					{% for tag in tags %}
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="tag-{{ tag }}" value="{{ tag }}"
									name="tags" {{ "checked" if query.tags and tag in query.tags }}>
							<label class="form-check-label" for="tag-{{ tag }}">{{ tag }}</label>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div>Składniki:</div>
				<div class="form-group">
					{% for tag in ingredients %}
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="ingredient-{{ tag }}" value="{{ tag }}"
									name="ingredients" {{ "checked" if query.ingredients and tag in query.ingredients }}>
							<label class="form-check-label" for="ingredient-{{ tag }}">{{ tag }}</label>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>

	<div class="card-footer text-right">
		<a class="btn btn-outline-primary" href="/"><i class="fas fa-eraser"></i> Wyczyść</a>
		<button class="btn btn-primary"><i class="fas fa-search"></i> Szukaj</button>
	</div>
</form>
