<form class="search-bar" action="/" method="GET">
	<input type="text" class="search-bar__input" placeholder="szukajka..." value="{{ query.q | e }}" name="q">
	<button type="text" class="search-bar__button">
		<i class="fas fa-search"></i><span> Szukaj</span>
	</button>
	<button type="text" class="search-bar__button" id="advanced-search-toggle">
		<i class="fas fa-search-plus"></i><span> Zaawansowane</span>
	</button>
</form>
