<!doctype html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="robots" content="noindex,nofollow">
	<title>{% block title %}{% endblock %}Przepiśnik</title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<header class="header bg-primary">
		<div class="container">
			<div class="navbar navbar-dark">
				<a class="navbar-brand" href="/">
					Przepiśnik
				</a>
				{% include "components/searchBar.njk" %}
			</div>
		</div>
	</header>

	<div class="main container">
		{% include "components/advancedSearch.njk" %}
		{% block body %}{% endblock %}
	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-center small">
			&copy; 2018 <a href="https://dominikmarczuk.pl">Dominik Marczuk</a>
			</p>
		</div>
	</footer>

	<script>
		(() => {
			const advancedSearch = document.querySelector(".advanced-search");
			document.getElementById("advanced-search-toggle").addEventListener("click", (e) => {
				e.preventDefault();
				advancedSearch.classList.toggle("hidden");
			});
			document.getElementById("clear-form").addEventListener("click", (e) => {
				e.preventDefault();
				location.href = "/";
			});
		})();
	</script>
	{% block scripts %}{% endblock %}
</body>
</html>
