.recipe-list {
	margin-bottom: $grid-gutter-width;
	display: grid;
	grid-gap: $grid-gutter-width / 2;
	grid-template-columns: repeat(2, 1fr);
	@include media-breakpoint-up(md) {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: $grid-gutter-width;
	}
	@include media-breakpoint-up(lg) {
		grid-template-columns: repeat(4, 1fr);
	}

	.recipe-list__card {
		border: 0;
		transition: box-shadow 0.25s linear;
		color: white;
		text-shadow: 0 0 10px black, 0 0 5px black, 0 0 1px black;
		&:hover {
			box-shadow: 0 0 10px $primary;
			text-decoration: none;
		}
	}
	.card-img-overlay {
		top: auto;
		padding: 0.5em;
	}
}