.search-bar {
	padding-bottom: 2px;
	border-bottom: 1px solid $white;
}

.search-bar__input {
	background-color: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	color: $white;
	font-family: $font-family-base;
	outline: none;
	width: 190px;
	&::placeholder {
		color: rgba(255,255,255,.5);
	}
}

.search-bar__button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	color: $white;
	outline: none;
	span {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}
