{% extends '../layout.njk' %}

{% block body %}
	<div class="recipe-list">
		{% for recipe in recipes.items %}
			<a class="card recipe-list__card" href="/{{ recipe.id }}">
				<img class="card-img-top"
				     {% if recipe.image %}
				     srcset="/img/{{ recipe.id }}-list.jpg 1x,
				             /img/{{ recipe.id }}-list-2x.jpg 2x"
				     {% else %}
				     srcset="/img/default-list.jpg 1x,
				             /img/default-list-2x.jpg 2x"
				     {% endif %}
				     alt="{{ recipe.title }}">
				<span class="card-img-overlay">
					{{ recipe.title }}
				</span>
			</a>
		{% endfor %}
	</div>

	{% if recipes.pages > 1 %}
		<div class="card">
			<div class="card-body">
				<div class="card-text">
					<ul class="pagination justify-content-center">
						<li class="page-item {{ "disabled" if recipes.page == 1 }}">
							<a class="page-link" href="?{{ qs | qs('page=1') }}">&laquo;</a>
						</li>
						{% for page in range(0, recipes.pages, 1) %}
							<li class="page-item {{ "active" if recipes.page == page + 1 }}">
								<a class="page-link" href="?{{ qs | qs('page=' + (page + 1)) }}">{{ page + 1 }}</a>
							</li>
						{% endfor %}
						<li class="page-item {{ "disabled" if recipes.page == recipes.pages }}">
							<a class="page-link" href="?{{ qs | qs('page=' + recipes.pages) }}">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
