{% extends '../layout.njk' %}

{% block title %}{{ recipe.title }} | {% endblock %}

{% block body %}
	<div class="recipe">
		<div class="card mb-4">
			<div class="card-body">
				<div class="recipe__title">
					<h1>{{ recipe.title }}</h1>
				</div>
				<div class="recipe__taxonomy">
					<div>
						Tagi:
						{% for tag in recipe.tags %}
							{{ tag }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="recipe__data mb-3">
					<div>Autor: {{ recipe.author }}</div>
					<div>Czas przygotowania: {{ recipe.time }}</div>
					<div>Poziom trudności: {{ recipe.difficulty }}/5</div>
					<div>Liczba porcji: {{ recipe.servings }}</div>
				</div>
				{% if recipe.description %}
				<div class="recipe__description">
					{{ recipe.description | markdown }}
				</div>
				{% endif %}
				{% include "../components/meta.njk" %}
			</div>
		</div>

		{% for part in recipe.parts %}
			<div class="card mb-4">
				<div class="card-header">
					{% if part.title %}
						{{ part.title }}
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-xs-12 col-md-5 col-lg-4">
							<h4>Składniki:</h4>
							<ul>
								{% for ingredient in part.ingredients %}
									<li>{{ ingredient.label }}{% if ingredient.ref %} (<a href="/{{ ingredient.ref }}">przepis</a>){% endif %}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="col-xs-12 col-md-7 col-lg-8">
							<h4>Przygotowanie:</h4>
							<ol>
								{% for step in part.steps %}
									<li>{{ step | markdown }}</li>
								{% endfor %}
							</ol>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}
